html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans', sans-serif !important;
}

.container {
    margin: 0;
    padding: 0;
}

.left-col, .right-col {
    position: absolute;
    width: 50%;
    height: 100vh;
}

.left-col {
    background: #3e6f95;
}

.right-col {
    left: 50%;
}

.upper {
    position: absolute;
    width: 100%;
    height: 50vh;
    background: #305572;
    opacity: 0;
    animation: appear-text 0.0001s linear forwards;
    animation-delay: 3s;
}

.bottom {
    position: absolute;
    top: 50%;
    height: 50vh;
    width: 100%;
    background: url(img/deanda.jpg) no-repeat 50% 50%;
    background-size: cover;
    opacity: 0;
    animation: appear-text 0.0001s linear forwards;
    animation-delay: 4.2s;
}

@media (max-width: 768px) {
    .left-col {
        width: 100%;
    }

    .right-col {
        top: 100%;
        left: 0;
        width: 100%;
    }
}

.logo {
    position: fixed;
    margin: 1.8rem;
    z-index: 1;
}

.side-strip {
    position: absolute;
    color: #fff;
    bottom: 18%;
    transform: rotate(-90deg);
    left: -10%;
    letter-spacing: 4px;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.nav-menu {
    line-height: 1rem;
    margin: 0;
    position: absolute;
    right: 0;
    top: 6%;
}

.nav-menu ul li {
    list-style: none;
    display: inline-block;
    padding-right: 3rem;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 0.7rem;
    text-transform: uppercase;
}

.nav-menu a {
    color: #fff;
}

.media {
    position: absolute;
    bottom: 1%;
    right: 8%;
}

.media p {
    color: #fff;
}

.media a {
    color: #fff;
    padding-left: 1rem
}

.media ul {
    list-style: none;
}

.media ul li {
    display: inline-block;
    color: #fff;
}

/* RIGHT SIDE */

.cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 50%;
    background: url(img/ing.jpg) no-repeat 50% 50%;
    background-size: cover;
    opacity: 0;
    animation: appear-text 0.0001s linear forwards;
    animation-delay: 2.6s;

}

.data {
    position: absolute;
    top: 66%;
    left: 44%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#name {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0;
}

#text {
    font-size: 0.8rem;
}

.about {
    position: absolute;
    margin: 6rem 4rem;
}

.about h2 {
    font-size: 1.4rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
    margin-bottom: 0
}

.about p {
    color: #fff;
    font-size: 0.7rem;
    letter-spacing: 1.4px;
    margin: 1rem 2rem;
    font-weight: 300;
    
}

.data2 {
    position: absolute;
    bottom: 1%;
    right: 4%;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.block-cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 50%;
}

.block-cover::after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 100%;
    background: #000;
    animation: rev-block 2.5s cubic-bezier(0.2, 1, 0.2, 1) forwards;
    animation-delay: 1.6s;
}

@keyframes rev-block {

    0% {
         left: 0;
         width: 0%;
    }
    50% {
         left: 0;
         width: 100%;
    }
    100% {
         left: 100%;
         width: 0%;
    }

}

@keyframes appear-text {

    0% {
         opacity: 0;
    }
    100% {
         opacity: 1;
    }

}

.upper-block {
    position: absolute;
    width: 100%;
    height: 50vh;
}

.upper-block::after {
   content: '';
   top: 0;
   left: 0;
   position: absolute;
   width: 0%;
   height: 100%;
   background: #000;
   animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
   animation-delay: 2.4s;
}

.block-bottom {
    position: absolute;
    top: 50%;
    height: 50vh;
    width: 100%;
}

.block-bottom::after {
   content: '';
   top: 0;
   left: 0;
   position: absolute;
   width: 0%;
   height: 100%;
   background: #636363;
   animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
   animation-delay: 3.6s;
}

